<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Demo Class Binding dùng Component</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <!-- <link rel="stylesheet" src="css/styles.css" type="text/css"> -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
      <p class="foo bar baz qux"></p>

      <my-component v-bind:class="{ active: isActive }"></my-component>

      <p class="foo bar active"></p>

      <!--file script-->
      <script src="js/script.js"></script>
</body>
</html>